<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>285844863852-c8t25hpv9jqtu74m78na3opufanh8de3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285844863852-c8t25hpv9jqtu74m78na3opufanh8de3</string>
	<key>API_KEY</key>
	<string>AIzaSyDmVIHmlctxwX_ABV43r1-jPZQ0oSr_ewo</string>
	<key>GCM_SENDER_ID</key>
	<string>285844863852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emilence.testing</string>
	<key>PROJECT_ID</key>
	<string>testing-169a9</string>
	<key>STORAGE_BUCKET</key>
	<string>testing-169a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285844863852:ios:4291d2fe2e259c7d</string>
	<key>DATABASE_URL</key>
	<string>https://testing-169a9.firebaseio.com</string>
</dict>
</plist>